* {
  box-sizing: border-box;
}
body{
background-color: #b2dde5;
font-family: Helvetica;
text-align: justify;
}
.header {
  padding: 1px;
  text-align: center;
  background: #095786;
  color: #FFFFFF;
  font-size: 30px;
}
.photo {
  text-align:center;
  display:block;
}
.ul {
  list-style-type:disc;
}
