@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body{
background-color: #7274b8;
font-family: Helvetica;
text-align: justify;
color: white;
}
.header {
  padding: 1px;
  text-align: center;
  background: #a8a9d3;
  color: #FFFFFF;
  font-size: 30px;
}
a {
  color: white;
}
.box2 {
  background: #7297b8;
  font-family: Open Sans;
}
.box3 {
  background: #b87274;
  font-family: Josefin Sans;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}

img {
  width: 300px;
  height: 300px;
}
