* {
  box-sizing: border-box;
}
body{
background-color: #66bccc;
font-family: Open Sans;
text-align: justify;
color: #ffffff;
}
/* Header for the entire website */
.header {
  padding: 1px;
  font-family: "Bebas Neue";
  text-align: center;
  background: #095786;
  color: #FFFFFF;
  font-size: 30px;
}
.idphoto {
  text-align:center;
  display:block;
}
ul {
  list-style-type:disc;
}
p {
  font-size:25px;
  font-family: "Bebas Neue";
}
/* Subheading Title Box */
.box {
  padding: 1px;
  text-align: center;
  background: #0090ab;
  color: #FFFFFF;
  font-size: 30px;
  font-family: "Bebas Neue";
}
/* Top Navigation Bar */

.topnav {
	overflow: hidden;
	background-color: #f7f0e2;
	text-align: center;
}

.topnav a{
	float: left;
	display: block;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #e99090;
	color: black;
}

.topnav a.active {
  background-color: #db4646;
  color: white;
}

.topnav input[type=text] {
	 float: right;
	 padding: 6px;
	 border: none;
	 margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
}
@media screen and (max-width: 600px) {
.topnav a, .topnav input[type=text] {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
}
}

.topnav input[type=text] {
	border: 1px solid #000000;
}

/* Grid Placement */
.grid {
  background: #b2dde5;
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

/* Image Items for Hobbies Section */
.hobbies-item > img {
  width: 400px;
  height: 250px;
}

.movies-item > img {
  width: 400px;
  height: 500px;
}

.music-item > img {
  width: 200px;
  height: 200px;
}

.games-item > img {
  width: 370px;
  height: 500px;
}

/* Image Items for Gallery Section */
.photo_graphic-item > img {
  width: 360px;
  height: 500px;
}

.photography1-item > img {
  width: 500px;
  height: 350px;
}
